.section1 {
    display: flex;
    z-index: 2;
    margin-top: 30px;
}

.section1x {
    flex-direction: column;
    margin: 50px 50px 0px 50px;
}

.h1main {
    background-image: linear-gradient(90deg, #5C755E, #78A67C);
    background-clip: text;
    -webkit-background-clip: text; /* For WebKit browsers */
    font-size: 55px;
    font-weight: 900;
    margin-bottom: 30px;
    letter-spacing: 3px;
    position: relative;
    z-index: 2; /* Make sure text is above the overlay */
    animation: backgroundPop 4s ease-in-out infinite;
    color: #FFFFFF;
}

@keyframes backgroundPop {
    0% {
      transform: scale(1); /* Start with normal size */
      background-position: center; /* Normal position */
    }
    50% {
      transform: scale(1.05); /* Pop-up effect: enlarge */
      background-position: center; /* Keep the image centered */
    }
    100% {
      transform: scale(1); /* Return to normal size */
      background-position: center; /* Normal position */
    }
}

.p1main {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 30px;
    width: 70%;
    position: relative;
    z-index: 2;
    color: #FFFFFF;
    animation: backgroundPop 4s ease-in-out infinite;
}

.button {
    background-image: linear-gradient(90deg, rgba(103, 69, 5, 0.941), rgba(120, 79, 3, 0.941));
    border: none;
    border-radius: 40px;
    padding: 20px 40px;
    cursor: pointer;
    transition: background-image 1.5s ease, transform 0.8s ease;
    position: relative;
    z-index: 2; /* Make sure text is above the overlay */
    animation: backgroundPop 4s ease-in-out infinite;
}

.button:hover {
    background-image: linear-gradient(90deg, #6a11cb, #2575fc);
    transform: scale(1.05);
    position: relative;
    z-index: 2; /* Make sure text is above the overlay */
}

.buttontext {
    font-size: 16px;
    color: #FFFFFF;
    font-weight: 700;
    letter-spacing: 2px;
    position: relative;
    z-index: 2; /* Make sure text is above the overlay */
}

.gadget {
    display: flex;
    margin: 70px 50px 90px 0px;
}

.devices {
    display: flex;
    justify-content: center;
    align-items: center;
}

.phone {
    width: 160px;
    height: 215px;
}

.laptop {
    width: 480px;
    height: 220px;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
    .section1 {
        flex-direction: column;
        margin-top: 40px;
    }

    .h1main {
        font-size: 35px;
        text-align: center;
        margin: 0 auto;
        width: 100%;
        max-width: 90%;
        margin-bottom: 50px;
    }

    .p1main {
        font-size: 17px;
        text-align: center;
        margin: 0 auto;
        width: 100%;
        max-width: 90%;
        margin-bottom: 30px;
        letter-spacing: 1px;
    }

    .gadget {
        visibility: hidden;
    }

    .buttoncontainer {
        display: flex;
        justify-content: center; /* Centers horizontally */
        align-items: center;
    }

    .button {
        padding: 12px 20px;
        display: flex;
        justify-content: center;
    }

    .buttontext {
        font-size: 14px;
        color: #FFFFFF;
        font-weight: 700;
        letter-spacing: 2px;
        position: relative;
        z-index: 2; /* Make sure text is above the overlay */
    }
}


@media only screen and (min-width: 481px) and (max-width: 600px) {
    .section1 {
        flex-direction: column;
        margin-top: 50px;
    }

    .h1main {
        font-size: 35px;
        text-align: center;
        margin: 0 auto;
        width: 100%;
        max-width: 90%;
        margin-bottom: 30px;
    }

    .p1main {
        font-size: 19px;
        text-align: center;
        margin: 0 auto;
        width: 100%;
        max-width: 90%;
        letter-spacing: 1px;
        margin-bottom: 30px;
    }

    .gadget {
        visibility: hidden;
    }

    .buttoncontainer {
        display: flex;
        justify-content: center; /* Centers horizontally */
        align-items: center;
    }

    .button {
        padding: 12px 20px;
        display: flex;
        justify-content: center;
    }

    .buttontext {
        font-size: 14px;
        color: #FFFFFF;
        font-weight: 700;
        letter-spacing: 2px;
        position: relative;
        z-index: 2; /* Make sure text is above the overlay */
    }
}

@media only screen and (min-width: 601px) and (max-width: 768px) {
    .section1 {
        flex-direction: column;
        margin-top: 50px;
    }

    .h1main {
        font-size: 38px;
        text-align: center;
        margin: 0 auto;
        width: 100%;
        max-width: 90%;
        margin-bottom: 50px;
    }

    .p1main {
        font-size: 22px;
        text-align: center;
        margin: 0 auto;
        width: 100%;
        max-width: 90%;
        letter-spacing: 1px;
        margin-bottom: 30px;
    }

    .gadget {
        visibility: hidden;
    }

    .buttoncontainer {
        display: flex;
        justify-content: center; /* Centers horizontally */
        align-items: center;
    }

    .button {
        padding: 17px 24px;
        display: flex;
        justify-content: center;
    }

    .buttontext {
        font-size: 16px;
        color: #FFFFFF;
        font-weight: 700;
        letter-spacing: 2px;
        position: relative;
        z-index: 2; /* Make sure text is above the overlay */
    }
}

@media only screen and (min-width: 769px) and (max-width: 900px) {
    .section1 {
        flex-direction: column;
        margin-top: 50px;
    }

    .h1main {
        font-size: 40px;
        text-align: center;
        margin: 0 auto;
        width: 100%;
        max-width: 90%;
        margin-bottom: 50px;
    }

    .p1main {
        font-size: 24px;
        text-align: center;
        margin: 0 auto;
        width: 100%;
        max-width: 90%;
        letter-spacing: 1px;
        margin-bottom: 47px;
    }

    .gadget {
        visibility: hidden;
    }

    .buttoncontainer {
        display: flex;
        justify-content: center; /* Centers horizontally */
        align-items: center;
    }

    .button {
        padding: 16px 26px;
        display: flex;
        justify-content: center;
    }

    .buttontext {
        font-size: 16px;
        color: #FFFFFF;
        font-weight: 700;
        letter-spacing: 2px;
        position: relative;
        z-index: 2; /* Make sure text is above the overlay */
    }
}



@media only screen and (min-width: 901px) and (max-width: 1200px) {
    .section1 {
        flex-direction: column;
        margin-top: 50px;
    }

    .h1main {
        font-size: 50px;
        text-align: center;
        margin: 0 auto;
        width: 100%;
        max-width: 90%;
        margin-bottom: 50px;
    }

    .p1main {
        font-size: 26px;
        text-align: center;
        margin: 0 auto;
        width: 100%;
        max-width: 90%;
        margin-bottom: 67px;
        letter-spacing: 1px;
    }

    .gadget {
        visibility: hidden;
    }

    .buttoncontainer {
        display: flex;
        justify-content: center; /* Centers horizontally */
        align-items: center;
    }

    .button {
        padding: 20px 30px;
        display: flex;
        justify-content: center;
    }

    .buttontext {
        font-size: 17px;
        color: #FFFFFF;
        font-weight: 700;
        letter-spacing: 2px;
        position: relative;
        z-index: 2; /* Make sure text is above the overlay */
    }
}
