.weather {
    margin-top: 100px;
}

.wrapdiv {
    display: flex;
    align-items: center; 
    justify-content: center;
    gap: 20px; 
    margin-left: 50px;
}

.weatherdiv {
    margin-left: 150px;
}

.weatherh1 {
    font-size: 55px;
    font-weight: 700;
    line-height: 66px;
    width: 75%;
    background-image: linear-gradient(135deg, #5C755E, #78A67C); /* Define the gradient */
    background-clip: text;
    -webkit-background-clip: text; /* Required for Safari */
    color: transparent; /* Makes the text transparent to reveal the gradient */
    margin-left: 50px;
}

.weatherh2 {
    width: 70%;
    font-size: 36px;
    font-weight: 700;
    line-height: 42px;
    margin-bottom: 15px;
}

.weatherp {
    width: 70%;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    color: #212121;
}

.weatherimage {
    width: 286px;
    height: 575px;
}

.maindiv {
    display: flex;
}

.remotediv {
    background-color: #FFFFFF;
    box-shadow: 3px 3px 3px 3px #e9e7e8;
    padding: 30px 5px 30px 5px;
    margin: 10px 5px 10px 0;
    width: 280px;
    border-radius: 15px;
}

/* .remotediv2 {
    background-color: #FFFFFF;
    box-shadow: 3px 3px 3px 3px #e9e7e8;
    padding: 30px 15px 30px 15px;
    margin-right: 50px;
    width: 400px;
    border-radius: 15px;
} */

.remotep1 {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    line-height: 22px;
    margin-bottom: 10px;
}

.remotep2 {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    width: 80%;
    margin: auto;
    color: #4a4a4a;
}


