.maindiv {
    margin-top: 50px;
    margin-left: 60px;
    margin-bottom: 200px;
    margin-right: 60px;
    animation: backgroundPop 4s ease-in-out infinite;
}

@keyframes backgroundPop {
    0% {
      transform: scale(1); /* Start with normal size */
      background-position: center; /* Normal position */
    }
    50% {
      transform: scale(1.03); /* Pop-up effect: enlarge */
      background-position: center; /* Keep the image centered */
    }
    100% {
      transform: scale(1); /* Return to normal size */
      background-position: center; /* Normal position */
    }
}

.main {
    box-shadow: 0px 0px 10px 5px rgba(123, 123, 123, 0.2);
    width: 470px;
    padding: 30px 30px;
    border-radius: 20px;
}

.checkdiv {
    background-color: #5C755E;
    padding: 5px 5px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.check {
    color: #FFFFFF;
    font-size: 20px;
    margin: 2px auto 0 auto;
}

.hpdiv {
    display: flex;
    margin-top: 10px;
}

.htext {
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
}

.ptext {
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 22px;
    width: 393px;
}

.seenflowdiv {
    margin-top: -240px;
    margin-left: 390px;
}

/* .seenflowimg {

} */
 













.main2 {
    box-shadow: 0px 0px 10px 5px rgba(123, 123, 123, 0.2);
    width: 470px;
    padding: 30px 30px;
    border-radius: 20px;
    margin-left: auto;
}

.checkdiv2 {
    background-color: #5C755E;
    padding: 5px 5px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.check2 {
    color: #FFFFFF;
    font-size: 20px;
    margin: 2px auto 0 auto;
}

.hpdiv2 {
    display: flex;
    margin-top: 10px;
}

.htext2 {
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
}

.ptext2 {
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 22px;
    width: 393px;
}

.seenflowdiv2 {
    margin-top: -200px;
    margin-left: 500px;
}

/* .seenflowimg {

} */





























.main3 {
    box-shadow: 0px 0px 10px 5px rgba(123, 123, 123, 0.2);
    width: 470px;
    padding: 30px 30px;
    border-radius: 20px;
    margin-top: 70px;
}

.checkdiv3 {
    background-color: #5C755E;
    padding: 5px 5px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.check3 {
    color: #FFFFFF;
    font-size: 20px;
    margin: 2px auto 0 auto;
}

.hpdiv3 {
    display: flex;
    margin-top: 10px;
}

.htext3 {
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
}

.ptext3 {
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 22px;
    width: 393px;
}

.seenflowdiv3 {
    margin-top: -200px;
    margin-left: 420px;
}

/* .seenflowimg {

} */