.h1 {
    font-size: 50px;
    font-weight: bolder;
    color: rgb(185, 124, 13);
    width: 70%;
    line-height: 60px;
    text-align: center;
    animation: backgroundPop 4s ease-in-out infinite;
}

.monitor {
    font-size: 50px;
    font-weight: bolder;
    color: rgb(185, 124, 13);
    /* width: 70%;
    line-height: 60px;
    /* margin: 50px 0 20px 0; */
    text-align: center;
    animation: backgroundPop 4s ease-in-out infinite;
}

.smart {
    margin: auto; 
}

.smarth1 {
    font-size: 43px;
    font-weight: bolder;
    color: rgb(185, 124, 13);
    /* width: 70%; */
    line-height: 60px;
    /* margin: 50px 0 20px 0; */
    text-align: center;
    margin: 50px 0 30px 0;
    animation: backgroundPop 4s ease-in-out infinite;
}

.smartp {
    font-size: 20px;
    color: #5C755E;
    font-weight: 700;
    width: 35%;
    /* text-align: center; */
    margin: auto;
    margin-bottom: 50px;
    animation: backgroundPop 4s ease-in-out infinite;
}

@keyframes backgroundPop {
    0% {
      transform: scale(1); /* Start with normal size */
      background-position: center; /* Normal position */
    }
    50% {
      transform: scale(1.05); /* Pop-up effect: enlarge */
      background-position: center; /* Keep the image centered */
    }
    100% {
      transform: scale(1); /* Return to normal size */
      background-position: center; /* Normal position */
    }
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  .monitor {
    font-size: 35px;
    width: 70%;
    margin: auto;
  }

  .smarth1 {
    font-size: 30px;
  }

  .smartp {
    font-size: 16px;
    line-height: 30px;
    text-align: center;
  }
}

@media only screen and (min-width: 481px) and (max-width: 600px) {
  .monitor {
    font-size: 37px;
    width: 75%;
    margin: auto;
  }

  .smarth1 {
    font-size: 32px;
  }

  .smartp {
    font-size: 18px;
    line-height: 30px;
    text-align: center;
  }
}


@media only screen and (min-width: 601px) and (max-width: 768px) {
  .monitor {
    font-size: 39px;
    width: 80%;
    margin: auto;
  }

  .smarth1 {
    font-size: 34px;
  }

  .smartp {
    font-size: 20px;
    line-height: 30px;
    text-align: center;
  }
}

@media only screen and (min-width: 769px) and (max-width: 900px) {
  .monitor {
    font-size: 40px;
    width: 80%;
    margin: auto;
  }

  .smarth1 {
    font-size: 35px;
  }

  .smartp {
    font-size: 20px;
    line-height: 30px;
    text-align: center;
  }
}

@media only screen and (min-width: 901px) and (max-width: 1200px) {
  .monitor {
    font-size: 42px;
    width: 80%;
    margin: auto;
  }

  .smarth1 {
    font-size: 37px;
  }

  .smartp {
    font-size: 22px;
    line-height: 30px;
    text-align: center;
  }
}