.h1 {
    font-size: 50px;
    font-weight: bolder;
    color: rgb(185, 124, 13);
    width: 70%;
    line-height: 60px;
}

.smarth1 {
    font-size: 40px;
    font-weight: bolder;
    color: rgb(185, 124, 13);
    width: 70%;
    line-height: 60px;
    margin: 50px 0 20px 0;
}

.smartp {
    font-size: 16px;
    color: rgb(8, 123, 8);
    font-weight: 700;
    width: 35%;
}