.popup {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.popdiv {
    margin-right: 150px;
    animation: backgroundPop 4s ease-in-out infinite;
}

.popupimage { 
    height: auto; 
    transition: transform 1s ease; 
    cursor: pointer;
    margin-bottom: 10px;
}

.popupimage:hover {
    transform: scale(1.5); 
}

.pop {
    margin-left: -50px;
}

.link {
    display: flex;
    font-size: 20px;
    color: #5C755E;
    font-weight: 700;
}

.link:hover {
    border-bottom: 3px solid rgb(21, 125, 243); /* Change thickness and color as needed */
    /* You can also add a transition for a smoother effect */
    transition: border-bottom 0.3s ease; /* Smooth transition for the underline */
}

.popuptext1 {
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1px;
    width: 60%;
    text-align: center;
}

.popuptext {
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1px;
    color: rgb(185, 124, 13);
}

.arrow {
    margin-top: 6px;
}

.line {
    width: 5px;          /* Full width */
    height: 120px;         /* Line thickness */
    background-color: rgb(188, 187, 187);
    border-radius: 5px;
}


@keyframes backgroundPop {
    0% {
      transform: scale(1); /* Start with normal size */
      background-position: center; /* Normal position */
    }
    50% {
      transform: scale(1.1); /* Pop-up effect: enlarge */
      background-position: center; /* Keep the image centered */
    }
    100% {
      transform: scale(1); /* Return to normal size */
      background-position: center; /* Normal position */
    }
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
    .popup {
        flex-direction: column;
        /* margin: auto; */
    }

    .popdiv {
        margin-right: 0;
        margin: auto;
        /* margin-left: 200px; */
    }

    .popupimage {
        margin: auto;
    }

    .pop {
        margin: 20px auto;
    }

    .line {
        display: none;
    }
}

@media only screen and (min-width: 479px) and (max-width: 600px) {
    .popup {
        flex-direction: column;
        /* margin: auto; */
    }

    .popdiv {
        margin-right: 0;
        margin: auto;
        /* margin-left: 200px; */
    }

    .popupimage {
        margin: auto;
    }

    .pop {
        margin: 20px auto;
    }

    .popuptext {
        font-size: 21px;
    }

    .link {
        font-size: 21px;
    }

    .line {
        display: none;
    }
}

@media only screen and (min-width: 601px) and (max-width: 768px) {
    .popup {
        flex-direction: column;
        /* margin: auto; */
    }

    .popdiv {
        margin-right: 0;
        margin: auto;
        /* margin-left: 200px; */
    }

    .popupimage {
        margin: auto;
    }

    .pop {
        margin: 20px auto;
    }

    .popuptext {
        font-size: 22px;
    }

    .link {
        font-size: 22px;
    }

    .line {
        display: none;
    }
}

@media only screen and (min-width: 769px) and (max-width: 900px) {
    .popup {
        flex-direction: column;
        /* margin: auto; */
    }

    .popdiv {
        margin-right: 0;
        margin: auto;
        /* margin-left: 200px; */
    }

    .popupimage {
        margin: auto;
    }

    .pop {
        margin: 20px auto;
    }

    .popuptext {
        font-size: 25px;
    }

    .link {
        font-size: 25px;
    }

    .line {
        display: none;
    }
}

@media only screen and (min-width: 901px) and (max-width: 1200px) {
    .popup {
        flex-direction: column;
        /* margin: auto; */
    }

    .popdiv {
        margin-right: 0;
        margin: auto;
        /* margin-left: 200px; */
    }

    .popupimage {
        margin: auto;
    }

    .pop {
        margin: 20px auto;
    }

    .popuptext {
        font-size: 30px;
    }

    .link {
        font-size: 30px;
    }

    .line {
        display: none;
    }
}