.main {
    overflow-x: hidden;
}

.particles {
    z-index: 10;
}

.mainsection {
    /* background-color: #F6F6F6; */
    margin-bottom: 80px;
    padding-bottom: 0;
}

.energydiv {
    margin-left: 26px;
  }

.section1 {
    display: flex;
    width: 100%;
}

.section1x {
    flex-direction: column;
    margin: 50px 50px 0px 50px;
}

.h1main {
    background-image: linear-gradient(90deg, #5C755E, #78A67C);
    background-clip: text;
    -webkit-background-clip: text; /* For WebKit browsers */
    color: transparent;
    font-size: 55px;
    font-weight: 700;
    margin-bottom: 0px;
    letter-spacing: 3px;
}

.p1main {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
}

.button {
    background-image: linear-gradient(90deg, #5C755E, #78A67C);
    border: none;
    border-radius: 40px;
    padding: 20px 40px 20px 40px;
    cursor: pointer;
    transition: background-image 1.5s ease, transform 0.8s ease;
}

.button:hover {
    background-image: linear-gradient(90deg, #6a11cb, #2575fc); 
    transform: scale(1.05);
}

.buttontext {
    font-size: 16px;
    color: #FFFFFF;
    font-weight: 700;
    letter-spacing: 2px;
}


.devices {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* @media only screen and (min-width: 320px) and (max-width: 478px) {
    .main {
        overflow-x: visible;
    }
} */

@media only screen and (max-width: 480px) {
    .section1x {
        margin: 20px 10px; /* Adjust as necessary */
    }
}

