.blog {
    margin-top: 50px;
    margin-bottom: 50px;
}

.blogh2 {
    font-size: 36px;
    font-weight: 700;
    text-align: center;
}

.blogp {
    font-size: 14px;
    font-weight: 400;
    text-align: center;
}