.elderlyDiv {
    background: #F6F6F6;
    padding: 50px 50px;
}

.elderly {
    display: flex;
    margin-top: 50px;
}

.elderlyh2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    color: #5C755E;
}

.elderlyp1 {
    font-size: 16px;
    font-weight: 500;
    color: #5C755E;
}

.elderlypercent {
    margin-top: 13px;
}

.elderlyperson {
    margin-top: -20px;
}

.elderlymandiv {
    margin-left: 50px;
    color: #5C755E;
}

.elderlyman {
    display: flex;
    background-color: #FFFFFF;
    box-shadow: 2px 2px 2px 2px #e9e7e8;
    margin: 9px 50px 9px 50px;
    padding: 15px 15px 15px 15px;
    justify-content: space-between;
    border-radius: 10px;  
}

.elderlyperson {
    margin-left: 20px;
    margin-top: 10px;
}

.gadgetdiv {
    margin-top: 20px;
}

.gadget {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    background-color: #FFFFFF;
    box-shadow: 2px 2px 2px 2px #e9e7e8;
    border-radius: 15px;
}

.gadgettext {
    font-size: 16px;
    font-weight: 500;
    margin: 10px 0px 10px 0px;
    color: #5C755E;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
    .elderly {
        flex-direction: column;
    }

    .elderlymandiv {
        margin-left: 0;
        margin-top: 10px;
    }

    .elderlyman {
        flex-direction: column;
    }

    .elderlyh2 {
        color: rgb(8, 123, 8);
        font-size: 25px;
        text-align: center;
     }
 
     .elderlyp1 {
         color: rgb(8, 123, 8);
         text-align: center;
     }

    .gadget {
        max-width: 0;
        display: none;
    }
}

@media only screen and (min-width: 481px) and (max-width: 600px) {
    .elderly {
        flex-direction: column;
    }

    .elderlymandiv {
        margin-left: 0;
        margin-top: 10px;
    }

    .elderlyman {
        /* flex-direction: column; */
    }

    .elderlyh2 {
       color: rgb(8, 123, 8);
       font-size: 25px;
       text-align: center;
    }

    .elderlyp1 {
        color: rgb(8, 123, 8);
        text-align: center;
    }

    .gadget {
        max-width: 0;
        display: none;
    }
}

@media only screen and (min-width: 601px) and (max-width: 768px) {
    .elderly {
        flex-direction: column;
    }

    .elderlymandiv {
        margin-left: 0;
        margin-top: 10px;
    }

    .elderlyman {
        /* flex-direction: column; */
    }

    .elderlyh2 {
       color: rgb(8, 123, 8);
       font-size: 25px;
       text-align: center;
    }

    .elderlyp1 {
        color: rgb(8, 123, 8);
        text-align: center;
    }

    .gadget {
        max-width: 0;
        display: none;
    }
}
