.mains {
    background: linear-gradient(to right, #5C755E, #78AC76);
    padding: 50px 50px;
}

.main {
    padding: 50px 50px;
    display: flex;
}

.main1 {
    display: flex;
    flex-direction: column;
}

/* .p {
    color: red;
} */

.grandeur {
    width: 145px;
    height: 63px;
}

.quicklink {
    font-weight: bold;
    color: #FFFFFF;
    font-size: 14px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.quicklinktext1 {
    color: #FFFFFF;
    font-size: 14px;
}

.quicklinktext2 {
    color: #FFFFFF;
    font-size: 14px;
    margin: 5px 0;
}

.quicklinktext3 {
    color: #FFFFFF;
    font-size: 14px;
    margin: 5px 0;
}

.quicklinktext4 {
    color: #FFFFFF;
    font-size: 14px;
}

.storediv {
    margin-top: 65px;
}

.store {
    font-weight: bold;
    color: #FFFFFF;
    font-size: 14px;
    margin: 10px 0;
}

.storetext1 {
    font-size: 14px;
    color: #FFFFFF;
    margin: 5px 0;
}

.storetext2 {
    font-size: 14px;
    color: #FFFFFF;
}

/* .developerdiv {
    margin-top: 50px;
} */

.main2 {
    margin-top: 70px;
    margin-left: 60px;
}

.developer {
    font-size: 14px;
    font-weight: bold;
    color: #FFFFFF;
    margin-bottom: 10px;
}

.developertext1 {
    font-size: 14px;
    color: #FFFFFF;
    margin: 5px 0;
}

.developertext2 {
    font-size: 14px;
    color: #FFFFFF;
}

.partner {
    color: #FFFFFF;
    font-size: 14px;
    margin-top: 10px;
    font-weight: bold;
}

.partnertext1 {
    color: #FFFFFF;
    font-size: 14px;
    margin: 5px 0;
}

.partnertext2 {
    color: #FFFFFF;
    font-size: 14px;
    margin: 5px 0;
}

.partnertext3 {
    color: #FFFFFF;
    font-size: 14px;
}

.companydiv {
    margin-left: 50px;
}

.company {
    font-size: 14px;
    font-weight: bold;
    color: #FFFFFF;
    margin-top: 70px;
    margin-bottom: 10px;
}

.companytext1 {
    font-size: 14px;
    color: #FFFFFF;
}

.companytext2 {
    font-size: 14px;
    color: #FFFFFF;
    margin: 5px 0;
}

.companytext3 {
    font-size: 14px;
    color: #FFFFFF;
    margin: 5px 0;
}

.companytext4 {
    font-size: 14px;
    color: #FFFFFF;
    margin: 5px 0;
}

.companytext5 {
    font-size: 14px;
    color: #FFFFFF;
}

.contactdiv {
    margin-top: 70px;
    margin-left: 50px;
}

.contact {
    font-size: 14px;
    color: #FFFFFF;
    font-weight: bold;
    margin-bottom: 10px;
}

.contacttext1 {
    font-size: 14px;
    color: #FFFFFF;
    display: flex;
    gap: 5px;
}

.contacttext2 {
    font-size: 14px;
    color: #FFFFFF;
    margin: 5px 0;
    display: flex;
    gap: 5px;
}

.contacttext3 {
    font-size: 14px;
    color: #FFFFFF;
    display: flex;
    gap: 5px;
}

.location {
    color: #FFFFFF;
    font-size: 24px;
}

.phone {
    color: #FFFFFF;
    font-size: 23px;
}

.mail {
    color: #FFFFFF;
    font-size: 24px;
}

.facebook {
    font-size: 24px;
    color:#5C755E;
    margin-right: 1px;
    margin-top: 3px;
}

.facebookdiv {
    background-color: #FFFFFF;
    border-radius: 50%;
    padding: 5px 8px 5px 8px;
}

.linkedin {
    font-size: 24px;
    color: #5C755E;
}

.linkedindiv {
    background-color: #FFFFFF;
    border-radius: 50%;
    padding: 5px 8px 5px 8px;
}

.instagram {
    font-size: 24px;
    color: #5C755E;
}

.instagramdiv {
    background-color: #FFFFFF;
    border-radius: 50%;
    padding: 5px 8px 5px 8px;
}

.twitter {
    font-size: 24px;
    color: #5C755E;
}

.twitterdiv {
    background-color: #FFFFFF;
    border-radius: 50%;
    padding: 5px 8px 5px 8px;
}

.socials {
    margin-left: 30px;
}

.sociallinks {
    font-size: 14px;
    color: #FFFFFF;
    margin-top: 70px;
    font-weight: bold;
    margin-bottom: 10px;
}

.socialdiv {
    display: flex;
    gap: 15px;
}

.play {
    display: flex;
    margin-top: 10px;
}

.appstore {
    border-radius: 5px;
    margin-right: 7px;
}

.googlestore {
    border-radius: 5px;
}

.hr {
    width: 100%;
    height: 1px;
    background-color: #FFFFFF;
}

.copyright {
    color: #FFFFFF;
    text-align: center;
    font-size: 14px;
    margin-top: 20px;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
    .main {
        flex-direction: column;
    }

    .grandeur {
        margin: auto;
    }

    .quicklinkdiv {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .quicklink {
        margin-top: 20px;
    }

    .storediv {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .main2 {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-left: 0;
    }

    .developer {
        margin-top: 20px;
    }

    .partner {
        margin-top: 20px;
    }

    .companydiv {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-left: 0;
    }

    .contactdiv {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-left: 0;
    }

    .contacttext1 {
        margin: auto;
    }

    .contacttext2 {
        margin: auto;
    }

    .contacttext3 {
        margin: auto;
    }

    .socialdiv {
        display: flex;
        justify-content: center;
    }

    .socials {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .play {
        display: flex;
        margin: auto;
        margin-top: 15px;
    }
}


@media only screen and (min-width: 481px) and (max-width: 600px) {
    .main {
        flex-direction: column;
    }

    .grandeur {
        margin: auto;
    }

    .quicklinkdiv {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .quicklink {
        margin-top: 20px;
    }

    .storediv {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .main2 {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-left: 0;
    }

    .developer {
        margin-top: 20px;
    }

    .partner {
        margin-top: 20px;
    }

    .companydiv {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-left: 0;
    }

    .contactdiv {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-left: 0;
    }

    .contacttext1 {
        margin: auto;
    }

    .contacttext2 {
        margin: auto;
    }

    .contacttext3 {
        margin: auto;
    }

    .socialdiv {
        display: flex;
        justify-content: center;
    }

    .socials {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .play {
        display: flex;
        margin: auto;
        margin-top: 15px;
    }
}

@media only screen and (min-width: 601px) and (max-width: 768px) {
    .main {
        flex-direction: column;
    }

    .grandeur {
        margin: auto;
    }

    .quicklinkdiv {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .quicklink {
        margin-top: 20px;
    }

    .storediv {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .main2 {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-left: 0;
    }

    .developer {
        margin-top: 20px;
    }

    .partner {
        margin-top: 20px;
    }

    .companydiv {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-left: 0;
    }

    .contactdiv {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-left: 0;
    }

    .contacttext1 {
        margin: auto;
    }

    .contacttext2 {
        margin: auto;
    }

    .contacttext3 {
        margin: auto;
    }

    .socialdiv {
        display: flex;
        justify-content: center;
    }

    .socials {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .play {
        display: flex;
        margin: auto;
        margin-top: 15px;
    }
}

@media only screen and (min-width: 769px) and (max-width: 900px) {
    .main {
        flex-direction: column;
    }

    .grandeur {
        margin: auto;
    }

    .quicklinkdiv {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .quicklink {
        margin-top: 20px;
    }

    .storediv {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .main2 {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-left: 0;
    }

    .developer {
        margin-top: 20px;
    }

    .partner {
        margin-top: 20px;
    }

    .companydiv {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-left: 0;
    }

    .contactdiv {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-left: 0;
    }

    .contacttext1 {
        margin: auto;
    }

    .contacttext2 {
        margin: auto;
    }

    .contacttext3 {
        margin: auto;
    }

    .socialdiv {
        display: flex;
        justify-content: center;
    }

    .socials {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .play {
        display: flex;
        margin: auto;
        margin-top: 15px;
    }
}


@media only screen and (min-width: 901px) and (max-width: 1200px) {
    .main {
        flex-direction: column;
    }

    .grandeur {
        margin: auto;
    }

    .quicklinkdiv {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .quicklink {
        margin-top: 20px;
    }

    .storediv {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .main2 {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-left: 0;
    }

    .developer {
        margin-top: 20px;
    }

    .partner {
        margin-top: 20px;
    }

    .companydiv {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-left: 0;
    }

    .contactdiv {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-left: 0;
    }

    .contacttext1 {
        margin: auto;
    }

    .contacttext2 {
        margin: auto;
    }

    .contacttext3 {
        margin: auto;
    }

    .socialdiv {
        display: flex;
        justify-content: center;
    }

    .socials {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .play {
        display: flex;
        margin: auto;
        margin-top: 15px;
    }
}