.container {
  display: flex;
  justify-content: space-between;
  padding: 100px 100px;
  gap: 20px;
  position: relative;
  margin-top: 50px;
}

.smallphonediv {
  position: absolute;
  display: flex;
  flex-direction: column;
  margin-top: 145px;
  background-color: rgb(223, 221, 221);
  width: 120px;
  margin-left: 22px;
  border-radius: 10px;
}

.smallPhone {
  /* background-image: url('/smartapphone.jpg');  */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
  /* overflow: hidden; */
  position: relative;
  margin-bottom: -20px;
  position: relative;
}

.smallPhone2 {
  /* background-image: url('/smartapphone.jpg');  */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
  /* overflow: hidden; */
  position: relative;
  margin-bottom: -20px;
  position: relative;
}

.smallPhone3 {
  /* background-image: url('/smartapphone.jpg');  */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
  /* overflow: hidden; */
  position: relative;
  /* margin-bottom: -20px; */
  position: relative;
}

.smartappimg {
  width: 160px;
  height: 240px;
  margin-top: 90px;
  border-radius: 10px;
}

.icon {
  position: relative;
  width: 30px;
  height: 50px;
  /* background-color: red;  */
  border-radius: 10px; /* Make the icon look like a button */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5px;
  cursor: pointer; /* Add pointer cursor */
  transition: transform 1s, box-shadow 0.3s;
  /* animation: backgroundPop 4s ease-in-out infinite; */
}

.icon2 {
   position: relative;
  width: 30px;
  height: 50px;
  /* background-color: red;  */
  border-radius: 10px; /* Make the icon look like a button */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5px;
  cursor: pointer; /* Add pointer cursor */
  transition: transform 1s, box-shadow 0.3s;
  /* animation: backgroundPop 4s ease-in-out infinite; */
}

.icon3 {
  width: 30px;
  height: 50px;
  /* background-color: red;  */
  border-radius: 10px; /* Make the icon look like a button */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5px;
  cursor: pointer; /* Add pointer cursor */
  transition: transform 1s, box-shadow 0.3s;
  /* animation: backgroundPop 4s ease-in-out infinite;  */
}

.icon:hover {
  transform: scale(1.2);
}

.icon.active {
  color: #000000;
  transform: scale(1.2);
}

.icon2:hover {
  transform: scale(1.2);
}

.icon2.active {
  color: #000000;
  transform: scale(1.2);
}

.icon3:hover {
  transform: scale(1.2);
}

.icon3.active {
  color: #000000;
  transform: scale(1.2);
}

.largePhone {
  /* flex: 1; */
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin-top: -270px;
  margin-left: 70px;
  max-width: 100px;
  /* border: 1px solid #ccc; */
  border-radius: 10px;
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-right: auto; */
  position: absolute;
}

.deviceDisplay {
  text-align: center;
  margin: -65px 0 0 40px;
  animation: fadeIn 0.5s ease-in-out;
}

  .image {
    position: absolute;
  }

  .deviceImage {
    margin-top: 60px;
    max-width: 160px;
    max-height: 200px;
    margin-bottom: 70px;
    margin-left: -80px;
    /* opacity: 0; */
    z-index: 144;
    border-radius: 10px;
    transition: opacity 1s ease-in-out;
    position: absolute;
  }

  .deviceImageVisible {
    opacity: 1; 
    z-index: 150;
    
  }

  /* .deviceImage.active {
    opacity: 1;
  } */

  .deviceName {
    font-size: 15px;
    font-weight: bold;
    color: #333;
    margin-top: 150px;
    margin-left: -60px;
    letter-spacing: 1px;
    width: 100px;
  }

  .largefeatures {
    margin-top: 65px;
    margin-left: -42px;
    opacity: 0.2;
  }


.wifi {
  background-color: #FFFFFF;
  border-radius: 5px;
  padding: 5px;
  color: #000000;
  font-size: 22px;
  z-index: 110;
}

.door {
  background-color: red;
  border-radius: 5px;
  padding: 5px;
  color: #FFFFFF;
  font-size: 26px;
  z-index: 110;
}

.home {
  background-color: rgb(0, 217, 255);
  border-radius: 5px;
  padding: 5px;
  color: #FFFFFF;
  font-size: 22px;
  margin-top: 2px;
  z-index: 110;
}

.hue {
  background-color: #FFFFFF;
  border-radius: 5px;
  padding: 5px;
  color: #000000;
  font-size: 26px;
}

.sonos {
  background-color: #000000;
  border-radius: 5px;
  padding: 5px;
  color: #FFFFFF;
  font-size: 26px;
}

.wemo {
  background-color: rgb(58, 238, 160);
  border-radius: 5px;
  padding: 5px;
  color: #FFFFFF;
  font-size: 26px;
}

.atom {
  background-color: #FFFFFF;
  border-radius: 5px;
  padding: 5px;
  color: #000000;
  font-size: 26px;
}

.iohome {
  background-color: rgb(0, 217, 255);
  border-radius: 5px;
  padding: 5px;
  color: #FFFFFF;
  font-size: 26px;
}

.doorbell {
  background-color: rgb(0, 166, 255);
  border-radius: 5px;
  padding: 5px;
  color: #FFFFFF;
  font-size: 26px;
}

.smartappimg2 {
  width: 260px;
  height: 410px;
}

.dotfill {
  color: rgb(0, 217, 255);
}

.demo {
  background-color: rgb(150, 205, 208);
}

/* .line {
  position: absolute;
  width: 40px;
  height: 1px;
  background-color: black;
  transform: rotate(360deg);
  margin-left: 70px;
  margin-top: -50px;
  z-index: 100;
}

.line::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 25px;
  background-color: black;
} */

.line1 {
  height: 0.5px;
  width: 50px;
  background-color: #5C755E;
  margin-top: -60px;
  margin-left: 50px;
  z-index: 100;
  position: absolute;
  transform: rotate(-45deg); 
}

.line1::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 100%;
  width: 89px;
  height: 0.5px;
  background-color: #5C755E; 
  transform: rotate(45deg); 
  transform-origin: left center;
}

.line2 {
  height: 0.5px;
  width: 25px;
  background-color: #5C755E;
  margin-top: -50px;
  margin-left: 20px;
  z-index: 100;
  position: absolute;
  transform: rotate(-45deg); 
}

.line2::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 100%;
  width: 73px;
  height: 0.5px;
  background-color: #5C755E; 
  transform: rotate(45deg); 
  transform-origin: left center;
}

.line3 {
  height: 0.5px;
  width: 20px;
  background-color: #5C755E;
  margin-top: -8px;
  margin-left: 20px;
  z-index: 100;
  position: absolute;
  transform: rotate(-45deg);
}

.line3::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 100%;
  width: 34px;
  height: 0.5px;
  background-color: #5C755E; 
  transform: rotate(45deg); 
  transform-origin: left center;
}

.line4 {
  height: 0.5px;
  width: 112px;
  background-color: #5C755E;
  margin-top: -40px;
  margin-left: 100px;
  z-index: 100;
  position: absolute;
  transform: rotate(-15deg); 
}

.line4::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 100%;
  width: 27px;
  height: 0.5px;
  background-color: #5C755E; 
  transform: rotate(15deg); 
  transform-origin: left center;
}

.line5 {
  /* height: 2px;
  width: 25px;
  background-color: #5C755E;
  margin-top: -50px;
  margin-left: 20px;
  z-index: 100;
  position: absolute;
  transform: rotate(-45deg);  */
}

.line5::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 80%;
  width: 82px;
  height: 0.5px;
  background-color: #5C755E; 
  transform: rotate(-1deg); 
  transform-origin: left center;
  z-index: 200;
}

.line6 {
  height: 0.5px;
  width: 45px;
  background-color: #5C755E;
  margin-top: 2px;
  margin-left: 55px;
  z-index: 100;
  position: absolute;
  transform: rotate(-180deg);
}

.line6::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 100%;
  width: 12px;
  height: 0.5px;
  background-color: #5C755E; 
  transform: rotate(45deg); 
  transform-origin: left center;
}



.line7 {
  height: 0.5px;
  width: 62px;
  background-color: #5C755E;
  margin-top: 8px;
  margin-left: 50px;
  z-index: 100;
  position: absolute;
  transform: rotate(25deg); 
}

.line7::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 100%;
  width: 76px;
  height: 0.5px;
  background-color: #5C755E; 
  transform: rotate(-25deg); 
  transform-origin: left center;
}

.line8 {
  /* height: 2px;
  width: 25px;
  background-color: #5C755E;
  margin-top: -50px;
  margin-left: 20px;
  z-index: 100;
  position: absolute;
  transform: rotate(-45deg);  */
}

.line8::before {
  content: "";
  position: absolute;
  top: 21px;
  left: 48%;
  width: 89px;
  height: 0.5px;
  background-color: #5C755E; 
  transform: rotate(0deg); 
  transform-origin: left center;
  z-index: 200;
}

.line9 {
  height: 0.5px;
  width: 43px;
  background-color: #5C755E;
  margin-top: -36px;
  margin-left: 55px;
  z-index: 290;
  position: absolute;
  transform: rotate(180deg);
}

  .line9::before {
    /* content: "";
    position: absolute;
    top: 0px;
    left: 100%;
    width: 12px;
    height: 2px;
    background-color: #5C755E; 
    transform: rotate(45deg); 
    transform-origin: left center; */
  }

  .appliances {
    width: 1000px;
    height: 50px;
    cursor: pointer;
  }

  .doors {
    width: 1000px;
    height: 50px; 
    border-radius: 10px;
    cursor: pointer;
  }

  .doorss {
    width: 1100px;
    height: 50px; 
    border-radius: 10px;
    cursor: pointer;
  }
 
  .switches {
    width: 1000px;
    height: 50px;
    border-radius: 10px;
    cursor: pointer;
  }

  .largeicon {
    display: flex;
    width: 170px;
    gap: 15px;
    margin-left: -44px;
    margin-top: -110px;
    position: absolute;
  }

  .largeicon2 {
    display: flex;
    width: 170px;
    gap: 15px;
    margin-left: -44px;
    margin-top: 10px;
    position: absolute;
  }

  .largeicon3 {
    display: flex;
    width: 170px;
    gap: 15px;
    margin-left: -44px;
    margin-top: 130px;
    position: absolute;
  }

  .largelighticon {
    width: 1000px;
    height: 50px;
    border-radius: 10px;
    cursor: pointer;
  }

  .largemusicicon {
    width: 1000px;
    height: 50px;
    border-radius: 10px;
    cursor: pointer;
  }











.backDoor {
  background-color: #333;
  position:relative;
  width:200px;
  height:300px;
  margin: 0 auto;
  margin-top:50px;
}

.doored {
  background-color: brown;
  position:absolute;
  top:0px;
  left:0px;
  width:200px;
  height:300px;
 
  transform-origin: left;
  /*Speed of the Door animation*/
  transition: all 0.5s ease-in-out;
}

.dooredOpen
{
  /*prespectiv creates the door open effect*/
  transform: perspective(1200px) translateZ(0px) translateX(0px) translateY(0px) rotateY(-105deg);
}
 
